header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
    background: linear-gradient(to bottom right, rgba(72, 72, 212, 0), rgba(241, 104, 104, 0)), url('../../assets/background.png') center center no-repeat;
    background-size: cover;
}


.header__container {
    background: transparent;
	padding-top: 16rem;
	padding-bottom: 8rem;
	text-align: center;
}

.header__container .text-container {
	margin-bottom: 3rem;
    color: var(--color-bg);
    text-shadow: 2px 2px var(--color-light);
    font-weight: 600;
}

.scroll__down {
    position: absolute;
    right: 2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}


@media screen and (max-width: 600px) {
    header {
        height: 68vh;
    }
    .scroll__down {
        display: none;
    }
}

